*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav{
    padding: 25px;
    /* display: inline-block; */

}

.dropbtn {
    /* background-color: #04AA6D; */
    color: #1C2938;
    /* padding: 16px; */
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-bottom: black solid 1px;
    padding: 0 12px 5px 12px;
  }

.dropdown {
    /* position: relative;
    display: inline-block; */
    position: relative;
    float: right;
    display: inline-block;
    bottom: 25px;
    border-bottom: black solid 2px;
    padding-bottom: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    right: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  .sol{
    position: absolute;
    background-color: #1C2938;
    width: 20%;
    height: 80%;
    border-right:solid 4px #f5f5f5;
    left: 2%;
    margin-right: 1%;
    z-index: 999;
    border-radius: 15px 0px 0px 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .sol h1{
      color: #f5f5f5;
      border-bottom: 2px solid #f5f5f5;
    padding: 5px 10px;
    margin: 5%;
  }

  .sol ul {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    list-style: none;
  }
  .sol .user {
    color: #f5f5f5;
    font-size: 17px;
  }
  .sol .status {
    color: #f5f5f5;
    opacity: 40%;
    margin-bottom: 10%;
    font-size: 13px;
  }

  .sag{
    position: absolute;
    background-color: #1C2938;
    width: 75%;
    height: 80%;
    border-right:solid 4px #f5f5f5;
    right: 2%;
    margin-right: 1%;
    z-index: 998;
    border-radius: 0px 15px 15px 0px;
    overflow-y: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
  }
  .sag .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
  }

  .sag .menu .pasif{
     font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 0px;
    color: #A1A1A1;
    transition: .2s;
  }

  .sag .menu .pasif:hover{
    cursor: pointer;
    color: #C5C5C5;
  }

  .sag .menu .aktif{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 0px;
    color: #F5F5F5;

    border-bottom: solid 1px #f5f5f5;

    padding: 0 2% 2% 2%;
  }

  #silForm, #degistirForm{
      margin-top: 8%;
  }

  .formLabel{
    margin-top: 3%;
    margin-bottom: 1%;
  }


  .cont{
    width: 50%;
    height: 70%;
    margin-left: 25%;

    background: #f5f5f5;
    border-radius: 15px;

  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .cont .panelForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .cont input {
    margin-bottom: 5%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #d4d4d4;
    border: none;
    padding: 15px;
    width: 60%;
    border-radius: 8px;

  }

  .cont button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #1C2938;
    border: none;
    color: #f5f5f5;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;

  }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
 .form {
     top: 3vh;
  position: relative;
  z-index: 1;
  background: #f5f5f5;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #d4d4d4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1C2938;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
